
<h2>Order {{order.Id}} details</h2>

<div class="row">
    <a href="#/list">Back</a>

    <p>
        <label>@Html.Translate("/Admin/Order/CompanyLabel")</label>
        <span class="">{{order.Company}}</span>
    </p>

</div>